In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

In [3]:
df

  key1 key2     data1     data2
0    a  one -0.175772  0.128866
1    a  two  0.648560 -0.781567
2    b  one  1.527344 -0.533000
3    b  two -0.983672 -0.781669
4    a  one -1.207991  1.564428

In [5]:
grouped = df['data1'].groupby(df['key1'])

In [6]:
grouped

In [7]:
grouped.mean()

key1
a   -0.245068
b    0.271836
Name: data1, dtype: float64

In [8]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [9]:
means

key1  key2
a     one    -0.691882
      two     0.648560
b     one     1.527344
      two    -0.983672
Name: data1, dtype: float64

In [10]:
means.unstack()

key2       one       two
key1
a    -0.691882  0.648560
b     1.527344 -0.983672

In [11]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])

In [12]:
years = np.array([2005, 2005, 2006, 2005, 2006])

In [13]:
df['data1'].groupby([states, years]).mean()

California  2005    0.648560
            2006    1.527344
Ohio        2005   -0.579722
            2006   -1.207991
Name: data1, dtype: float64

In [14]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.245068  0.303909
b     0.271836 -0.657334

In [15]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one  -0.691882  0.846647
     two   0.648560 -0.781567
b    one   1.527344 -0.533000
     two  -0.983672 -0.781669

In [16]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [17]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.175772  0.128866
1    a  two  0.648560 -0.781567
4    a  one -1.207991  1.564428
b
  key1 key2     data1     data2
2    b  one  1.527344 -0.533000
3    b  two -0.983672 -0.781669

In [18]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1,k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.175772  0.128866
4    a  one -1.207991  1.564428
('a', 'two')
  key1 key2    data1     data2
1    a  two  0.64856 -0.781567
('b', 'one')
  key1 key2     data1  data2
2    b  one  1.527344 -0.533
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.983672 -0.781669

In [19]:
piece = dict(list(df.groupby('key1')))

In [20]:
piece

{'a':   key1 key2     data1     data2
 0    a  one -0.175772  0.128866
 1    a  two  0.648560 -0.781567
 4    a  one -1.207991  1.564428,
 'b':   key1 key2     data1     data2
 2    b  one  1.527344 -0.533000
 3    b  two -0.983672 -0.781669}

In [21]:
piece['b']

  key1 key2     data1     data2
2    b  one  1.527344 -0.533000
3    b  two -0.983672 -0.781669

In [22]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [29]:
grouped = df.groupby(df.dtypes, axis=1)

In [30]:
for dtype, group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0 -0.175772  0.128866
1  0.648560 -0.781567
2  1.527344 -0.533000
3 -0.983672 -0.781669
4 -1.207991  1.564428
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

In [31]:
df.groupby('key1')['data1']

In [32]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [33]:
people

               a         b         c         d         e
Joe     1.132295  0.792009 -0.537356  0.483964  0.634635
Steve  -1.563145  0.918020 -0.430429  0.898328  0.858867
Wes     0.257000 -1.476785 -2.016156  2.605185  0.289850
Jim    -0.627313  0.820870 -1.299226  0.619546  1.712273
Travis -0.081970  0.790434 -1.021976  0.722217  1.845686

In [35]:
people.iloc[2:3, [1,2]] = np.NAN

In [36]:
people

               a         b         c         d         e
Joe     1.132295  0.792009 -0.537356  0.483964  0.634635
Steve  -1.563145  0.918020 -0.430429  0.898328  0.858867
Wes     0.257000       NaN       NaN  2.605185  0.289850
Jim    -0.627313  0.820870 -1.299226  0.619546  1.712273
Travis -0.081970  0.790434 -1.021976  0.722217  1.845686

In [37]:
mapping = {'a' : 'red', 'b' : 'red', 'c' : 'blue',
           'd' : 'blue', 'e' : 'red', 'f' : 'orange'}

In [38]:
by_column = people.groupby(mapping, axis=1)

In [39]:
by_column.sum()

            blue       red
Joe    -0.053393  2.558939
Steve   0.467900  0.213742
Wes     2.605185  0.546850
Jim    -0.679680  1.905830
Travis -0.299760  2.554150

In [40]:
map_serires = pd.Series(mapping)

In [41]:
map_serires

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [43]:
people.groupby(map_serires, axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

## 使用函数分组

In [44]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.761983  1.612879 -1.836582  3.708695  2.636758
5 -1.563145  0.918020 -0.430429  0.898328  0.858867
6 -0.081970  0.790434 -1.021976  0.722217  1.845686

In [45]:
key_list = ['one', 'one', 'one', 'two', 'two']

In [46]:
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one  0.257000  0.792009 -0.537356  0.483964  0.289850
  two -0.627313  0.820870 -1.299226  0.619546  1.712273
5 one -1.563145  0.918020 -0.430429  0.898328  0.858867
6 two -0.081970  0.790434 -1.021976  0.722217  1.845686

In [47]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                     [1, 3, 5, 1, 3]],
                                     names=['cty','tensor'])

In [48]:
columns

MultiIndex([('US', 1),
            ('US', 3),
            ('US', 5),
            ('JP', 1),
            ('JP', 3)],
           names=['cty', 'tensor'])

In [49]:
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)

In [50]:
hier_df

cty           US                            JP
tensor         1         3         5         1         3
0      -0.842035 -1.391323  0.957586  0.247283  1.197350
1      -0.230548  0.042005  1.066385  0.513600 -1.158070
2       0.584873  0.323660  0.885923  0.048772 -0.650167
3       0.057611 -0.781082  1.234041  0.178997  0.294079

In [51]:
hier_df.groupby(level='cty', axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3