In [1]:
import pandas as pd
pd.set_option('max_rows', 5)
print('Setup complete')

Setup complete

In [2]:
fruits = pd.DataFrame([[30, 21]],
                      columns=['Apples',
                               'Bananas'])
fruits

   Apples  Bananas
0      30       21

In [3]:
fruits_sales = pd.DataFrame([[35, 21],
                             [41, 34]],
                            columns=['Apples',
                                     'Bananas'],
                            index=['2017 Sales',
                                   '2018 Sales'])
fruits_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [4]:
ingredients = pd.Series(['4 cups', '1 cup',
                         '2 large', '1 can'],
                        index=['Flour',
                               'Milk',
                               'Eggs',
                               'Spam'],
                        name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [5]:
reviews = pd.read_csv('../../../datasets/Pandas/wine-reviews/winemag-data_first150k.csv', index_col=0)

In [6]:
animal = pd.DataFrame({'Cows':[12, 20],
                       'Goats':[22, 19]},
                      index=['Year1', 'Year2'])

In [7]:
animal

       Cows  Goats
Year1    12     22
Year2    20     19

In [8]:
animal.to_csv("cows_and_goats.csv")