In [2]:
x = 1
y = 2
x + y

3

In [3]:
x

1

In [4]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [5]:
def add_numbers(x, y, z=None):
    if z is None:
        return x + y
    else:
        return x + y + z
    

add_numbers(1,2,3)

6

In [6]:
# The Python Programing types and sequences

In [7]:
type("this is a string")

str

In [8]:
type(None)

NoneType

In [9]:
type(1)

int

In [10]:
type(1.5)

float

In [11]:
type(add_numbers)

function

In [13]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [14]:
x = [1, 'a', 2, 'b']
type(x)

list

In [15]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [16]:
for item in x:
    print(item)

1
a
2
b
3.3

In [17]:
i = 0
while( i != len(x)):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [18]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [19]:
[2] * 3

[2, 2, 2]

In [20]:
1 in [1,2,3]

True

In [22]:
x = 'this is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

t
t
th

In [23]:
x[-1]

'g'

In [25]:
x[-4:-2]

'ri'

In [26]:
firstname = "Christopher"
lastname = "Brooks"

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [28]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]
print(firstname)
print(lastname)

Christopher
Brooks

In [29]:
'Chris' + 2

TypeError: can only concatenate str (not "int") to str

In [30]:
'Chris' + str(2)

'Chris2'

In [31]:
x = {'Christopher Brooks':'brooksc@umich.edu','Bill Gates':'billg@microsoft.com'}
x['Christopher Brooks']

'brooksc@umich.edu'

In [32]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [33]:
for name in x:
    print(x[name])

brooksc@umich.edu
billg@microsoft.com
None

In [34]:
for email in x.values():
    print(email)

brooksc@umich.edu
billg@microsoft.com
None

In [35]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksc@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [36]:
x = ('Christopher','Brooks','brooksch@umich,edu')
fname, lname, email = x

In [37]:
fname

'Christopher'

In [38]:
lname

'Brooks'

In [39]:
email

'brooksch@umich,edu'

In [40]:
x = ('Christopher','Brooks','brooksch@umich.edu','Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

In [48]:
sales_record = {'price':3.24,
                'num_items':4,
                'person':'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [2]:
import csv
%precision 2

with open('./auto-mpg-new.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

[OrderedDict([('MPG', '18.0'),
              ('Cylinders', '8'),
              ('Displacement', '307.0'),
              ('Horsepower', '130.0'),
              ('Weight', '3504.0'),
              ('Acceleration', '12.0'),
              ('Model Year', '70'),
              ('Origin', '1'),
              ('Car Name', 'chevrolet chevelle malibu')]),
 OrderedDict([('MPG', '15.0'),
              ('Cylinders', '8'),
              ('Displacement', '350.0'),
              ('Horsepower', '165.0'),
              ('Weight', '3693.0'),
              ('Acceleration', '11.5'),
              ('Model Year', '70'),
              ('Origin', '1'),
              ('Car Name', 'buick skylark 320')]),
 OrderedDict([('MPG', '18.0'),
              ('Cylinders', '8'),
              ('Displacement', '318.0'),
              ('Horsepower', '150.0'),
              ('Weight', '3436.0'),
              ('Acceleration', '11.0'),
              ('Model Year', '70'),
              ('Origin', '1'),
              ('Car Name', 'plymouth satellite')])]

In [3]:
len(mpg)

392

In [4]:
mpg[0].keys()

odict_keys(['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model Year', 'Origin', 'Car Name'])

In [5]:
sum(float(i['MPG']) for i in mpg) / len(mpg)

23.45

In [6]:
cylinders = set(d['Cylinders'] for d in mpg)
cylinders

{'3', '4', '5', '6', '8'}

In [7]:
AccMpgByCyl = []

for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['Cylinders'] == c:
            summpg += float(d['Acceleration'])
            cyltypecount += 1
    AccMpgByCyl.append((c,summpg/cyltypecount))

AccMpgByCyl.sort(key=lambda x:x[0])
AccMpgByCyl

[('3', 13.25), ('4', 16.58), ('5', 18.63), ('6', 16.25), ('8', 12.96)]

In [9]:
vehiclename = set(d['Car Name'] for d in mpg)
vehiclename

{'amc ambassador brougham',
 'amc ambassador dpl',
 'amc ambassador sst',
 'amc concord',
 'amc concord d/l',
 'amc concord dl 6',
 'amc gremlin',
 'amc hornet',
 'amc hornet sportabout (sw)',
 'amc matador',
 'amc matador (sw)',
 'amc pacer',
 'amc pacer d/l',
 'amc rebel sst',
 'amc spirit dl',
 'audi 100 ls',
 'audi 100ls',
 'audi 4000',
 'audi 5000',
 'audi 5000s (diesel)',
 'audi fox',
 'bmw 2002',
 'bmw 320i',
 'buick century',
 'buick century 350',
 'buick century limited',
 'buick century luxus (sw)',
 'buick century special',
 'buick electra 225 custom',
 'buick estate wagon (sw)',
 'buick lesabre custom',
 'buick opel isuzu deluxe',
 'buick regal sport coupe (turbo)',
 'buick skyhawk',
 'buick skylark',
 'buick skylark 320',
 'buick skylark limited',
 'cadillac eldorado',
 'cadillac seville',
 'capri ii',
 'chevroelt chevelle malibu',
 'chevrolet bel air',
 'chevrolet camaro',
 'chevrolet caprice classic',
 'chevrolet cavalier',
 'chevrolet cavalier 2-door',
 'chevrolet cavalier wagon',
 'chevrolet chevelle concours (sw)',
 'chevrolet chevelle malibu',
 'chevrolet chevelle malibu classic',
 'chevrolet chevette',
 'chevrolet citation',
 'chevrolet concours',
 'chevrolet impala',
 'chevrolet malibu',
 'chevrolet malibu classic (sw)',
 'chevrolet monte carlo',
 'chevrolet monte carlo landau',
 'chevrolet monte carlo s',
 'chevrolet monza 2+2',
 'chevrolet nova',
 'chevrolet nova custom',
 'chevrolet vega',
 'chevrolet vega (sw)',
 'chevrolet vega 2300',
 'chevrolet woody',
 'chevy c10',
 'chevy c20',
 'chevy s-10',
 'chrysler cordoba',
 'chrysler lebaron medallion',
 'chrysler lebaron salon',
 'chrysler lebaron town @ country (sw)',
 'chrysler new yorker brougham',
 'chrysler newport royal',
 'datsun 1200',
 'datsun 200-sx',
 'datsun 200sx',
 'datsun 210',
 'datsun 210 mpg',
 'datsun 280-zx',
 'datsun 310',
 'datsun 310 gx',
 'datsun 510',
 'datsun 510 (sw)',
 'datsun 510 hatchback',
 'datsun 610',
 'datsun 710',
 'datsun 810',
 'datsun 810 maxima',
 'datsun b-210',
 'datsun b210',
 'datsun b210 gx',
 'datsun f-10 hatchback',
 'datsun pl510',
 'dodge aries se',
 'dodge aries wagon (sw)',
 'dodge aspen',
 'dodge aspen 6',
 'dodge aspen se',
 'dodge challenger se',
 'dodge charger 2.2',
 'dodge colt',
 'dodge colt (sw)',
 'dodge colt hardtop',
 'dodge colt hatchback custom',
 'dodge colt m/m',
 'dodge coronet brougham',
 'dodge coronet custom',
 'dodge coronet custom (sw)',
 'dodge d100',
 'dodge d200',
 'dodge dart custom',
 'dodge diplomat',
 'dodge magnum xe',
 'dodge monaco (sw)',
 'dodge monaco brougham',
 'dodge omni',
 'dodge rampage',
 'dodge st. regis',
 'fiat 124 sport coupe',
 'fiat 124 tc',
 'fiat 124b',
 'fiat 128',
 'fiat 131',
 'fiat strada custom',
 'fiat x1.9',
 'ford country',
 'ford country squire (sw)',
 'ford escort 2h',
 'ford escort 4w',
 'ford f108',
 'ford f250',
 'ford fairmont',
 'ford fairmont (auto)',
 'ford fairmont (man)',
 'ford fairmont 4',
 'ford fairmont futura',
 'ford fiesta',
 'ford futura',
 'ford galaxie 500',
 'ford gran torino',
 'ford gran torino (sw)',
 'ford granada',
 'ford granada ghia',
 'ford granada gl',
 'ford granada l',
 'ford ltd',
 'ford ltd landau',
 'ford maverick',
 'ford mustang',
 'ford mustang gl',
 'ford mustang ii',
 'ford mustang ii 2+2',
 'ford pinto',
 'ford pinto (sw)',
 'ford pinto runabout',
 'ford ranger',
 'ford thunderbird',
 'ford torino',
 'ford torino 500',
 'hi 1200d',
 'honda accord',
 'honda accord cvcc',
 'honda accord lx',
 'honda civic',
 'honda civic (auto)',
 'honda civic 1300',
 'honda civic 1500 gl',
 'honda civic cvcc',
 'honda prelude',
 'maxda glc deluxe',
 'maxda rx3',
 'mazda 626',
 'mazda glc',
 'mazda glc 4',
 'mazda glc custom',
 'mazda glc custom l',
 'mazda glc deluxe',
 'mazda rx-4',
 'mazda rx-7 gs',
 'mazda rx2 coupe',
 'mercedes benz 300d',
 'mercedes-benz 240d',
 'mercedes-benz 280s',
 'mercury capri 2000',
 'mercury capri v6',
 'mercury cougar brougham',
 'mercury grand marquis',
 'mercury lynx l',
 'mercury marquis',
 'mercury marquis brougham',
 'mercury monarch',
 'mercury monarch ghia',
 'mercury zephyr',
 'mercury zephyr 6',
 'nissan stanza xe',
 'oldsmobile cutlass ciera (diesel)',
 'oldsmobile cutlass ls',
 'oldsmobile cutlass salon brougham',
 'oldsmobile cutlass supreme',
 'oldsmobile delta 88 royale',
 'oldsmobile omega',
 'oldsmobile omega brougham',
 'oldsmobile starfire sx',
 'oldsmobile vista cruiser',
 'opel 1900',
 'opel manta',
 'peugeot 304',
 'peugeot 504',
 'peugeot 504 (sw)',
 'peugeot 505s turbo diesel',
 'peugeot 604sl',
 "plymouth 'cuda 340",
 'plymouth arrow gs',
 'plymouth champ',
 'plymouth cricket',
 'plymouth custom suburb',
 'plymouth duster',
 'plymouth fury',
 'plymouth fury gran sedan',
 'plymouth fury iii',
 'plymouth grand fury',
 'plymouth horizon',
 'plymouth horizon 4',
 'plymouth horizon miser',
 'plymouth horizon tc3',
 'plymouth reliant',
 'plymouth sapporo',
 'plymouth satellite',
 'plymouth satellite custom',
 'plymouth satellite custom (sw)',
 'plymouth satellite sebring',
 'plymouth valiant',
 'plymouth valiant custom',
 'plymouth volare',
 'plymouth volare custom',
 'plymouth volare premier v8',
 'pontiac astro',
 'pontiac catalina',
 'pontiac catalina brougham',
 'pontiac firebird',
 'pontiac grand prix',
 'pontiac grand prix lj',
 'pontiac j2000 se hatchback',
 'pontiac lemans v6',
 'pontiac phoenix',
 'pontiac phoenix lj',
 'pontiac safari (sw)',
 'pontiac sunbird coupe',
 'pontiac ventura sj',
 'renault 12 (sw)',
 'renault 12tl',
 'renault 5 gtl',
 'saab 99e',
 'saab 99gle',
 'saab 99le',
 'subaru',
 'subaru dl',
 'toyota carina',
 'toyota celica gt',
 'toyota celica gt liftback',
 'toyota corolla',
 'toyota corolla 1200',
 'toyota corolla 1600 (sw)',
 'toyota corolla liftback',
 'toyota corolla tercel',
 'toyota corona',
 'toyota corona hardtop',
 'toyota corona liftback',
 'toyota corona mark ii',
 'toyota cressida',
 'toyota mark ii',
 'toyota starlet',
 'toyota tercel',
 'toyouta corona mark ii (sw)',
 'triumph tr7 coupe',
 'vokswagen rabbit',
 'volkswagen 1131 deluxe sedan',
 'volkswagen 411 (sw)',
 'volkswagen dasher',
 'volkswagen jetta',
 'volkswagen model 111',
 'volkswagen rabbit',
 'volkswagen rabbit custom',
 'volkswagen rabbit custom diesel',
 'volkswagen rabbit l',
 'volkswagen scirocco',
 'volkswagen super beetle',
 'volkswagen type 3',
 'volvo 144ea',
 'volvo 145e (sw)',
 'volvo 244dl',
 'volvo 245',
 'volvo 264gl',
 'volvo diesel',
 'vw dasher (diesel)',
 'vw pickup',
 'vw rabbit',
 'vw rabbit c (diesel)',
 'vw rabbit custom'}

In [10]:
len(vehiclename)

301

In [2]:
import datetime as dt
import time as tm

In [3]:
tm.time()

1599320681.674356

In [5]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 9, 5, 23, 45, 10, 945131)

In [6]:
delta = dt.timedelta(100)
delta

datetime.timedelta(days=100)

In [7]:
today = dt.date.today()

In [8]:
today - delta

datetime.date(2020, 5, 28)

In [9]:
today > today - delta

True

In [1]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [2]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name,person.location,person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

In [3]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [4]:
for i in cheapest:
    print(i)

9.0
11.0
12.34
2.01

In [5]:
my_function = lambda a,b,c : a + b

In [6]:
my_function(1,2,3)

3

In [7]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

In [9]:
def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

'Dr. Brooks'

In [16]:
for person in people:
    print(split_title_and_name(person) == (lambda p:person.split()[0] + ' ' + person.split()[-1])(person))

True
True
True
True

In [13]:
list(map(split_title_and_name,people)) == list(map(lambda person:person.split()[0] + ' ' + person.split()[-1],people))

True

In [17]:
my_list = []
for number in range(0,1000):
    if(number % 2 == 0):
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [19]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]